body{
    background-color:#f3eae3 ;
}
.container{
    background-color: #ffff;
}
.product{
    font-size: 1rem;
    letter-spacing: 0.3rem;
}
.productName{
    font-family: "Merriweather", serif;
    font-weight: 1000;
    line-height: 2.2rem;
    font-size: 2rem;
}

.productDescription{
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
}   

.productPrice{
    span:first-child{
        color: #3d8168;
        font-weight: 700;
        font-size: 2rem;
    }
    span:nth-child(2){
        font-size: 0.9rem;
        color: black;
        font-weight: 200;
        text-decoration: line-through;
        }
}

.buyButton{
    background-color: #3d8168;
    color: white;

    img{
        height: 1.2rem;
    }
}

@media (max-width: 576px) { 
    .product{
        font-size: 0.6rem;
    }
    .productName{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .productDescription{
        font-size: 0.8rem;
        line-height: 1.1rem;
    }

    .productPrice{
        span:first-child{
            color: #3d8168;
            font-weight: 700;
            font-size: 1.6rem;
        }
        span:nth-child(2){
            font-size: 0.7rem;
            color: black;
            font-weight: 200;
            text-decoration: line-through;
            }
    }
    
    .buyButton{
        font-size: 0.8rem;
        img{
            height: 0.8rem;
        }
    }
}
