.product{
    font-size: 1rem;
    letter-spacing: 0.3rem;
}
.productName{  
    font-family: 'Merriweather',serif;
    font-weight: 1000;
    line-height: 2.2rem;
    font-size: 2rem;
}

.productDescription{
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
}   

.productPrice{
    span:first-child{
        font-weight: 800;
        font-size: 2rem;
    }
    span:nth-child(2){
        font-size: 0.9rem;
        font-weight: 200;
        }
}

.buyButton{
    font-weight: 700;
    img{
        height: 1.2rem;
    }
}

@media (max-width: 576px) { 
    .product{
        font-size: 0.6rem;
    }
    .productName{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .productDescription{
        font-size: 0.8rem;
        line-height: 1.1rem;
    }

    .productPrice{
        span:first-child{
            font-weight: 700;
            font-size: 1.6rem;
        }
        span:nth-child(2){
            font-size: 0.7rem;
            font-weight: 200;
            }
    }
    
    .buyButton{
        font-size: 0.8rem;
        img{
            height: 0.8rem;
        }
    }
}
